<html>
    <head>
        <title>My Blog</title>
    </head>
    <body>
        <h1>게시판</h1>
        <a href = "{% url 'post_new' %}">새 글쓰기</a><br>
        =======================================<br>
        <div>
            {% for post in posts %}
            {% if post.category != "private" %}
                제목: <b><a href="{% url 'post_detail' post_id=post.pk %}">{{ post.title }}</a></b><br>
                내용: {{ post.text }}<br><br>
                <a href="{% url 'post_edit' post_id=post.pk %}">수정</a>
                <a href="{% url 'post_delete' post_id=post.pk %}">삭제</a><br>
            {% else %}
                <p> 비밀글입니다</p>
            {% endif %}
                =======================================<br>
            
            {% endfor %}
        </div>
    </body>
</html>